{%  extends "base.html" %}

{% block titel %}
Login
{% endblock %}

{% block custom_css %}
body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        #container {
            display: flex;
            width: 80%;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        #left {
            flex: 1;
            background: url("https://d7hftxdivxxvm.cloudfront.net/?quality=80&resize_to=width&src=https%3A%2F%2Fartsy-media-uploads.s3.amazonaws.com%2F2RNK1P0BYVrSCZEy_Sd1Ew%252F3417757448_4a6bdf36ce_o.jpg&width=1820");
            background-size: cover;
            background-position: center;
            height: 100vh;
        }

        #right {
            flex: 1;
            padding: 20px;
        }

        h2 {
            text-align: center;
            color: #333;
        }

        form {
            max-width: 300px;
            margin: auto;
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            border: none;
            cursor: pointer;
            width: 100%;
        }
{% endblock %}

{% block body %}
<div id="container">
        <div id="left"></div>
        <div id="right">
            <form method="post" >
                {% csrf_token %}
                <label for="username">Benutzername:</label>
                <input type="text" id="username" name="username" required><br>

                <label for="password">Passwort:</label>
                <input type="password" id="password" name="password" required><br>

                <button type="submit">Login</button>
            </form>
        </div>
    </div>
{% endblock %}
