<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block titel %}   {% endblock %}</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <!-- CSRF token -->
    <meta name="csrf-token" content="{{ csrf_token }}">

    <script>
        window.drf = {
          csrfToken: "{{ csrf_token }}",
          csrfHeaderName: "X-CSRFToken"
        };
    </script>

    {% load static %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{% static 'rest_framework/js/csrf.js' %}"></script>

</head>
<body>
    {% if user.is_authenticated %}
        {% block header_logged_in %} {% endblock %}
    {% else %}
        {% block header_not_logged_in %} {% endblock %}
    {% endif %}
    {% block body %}   {% endblock %}
    </body>
</html>