{%  extends "base.html" %}

{% block titel %}
Pricing
{% endblock %}

{% block custom_css %}
        .pricing-cards {
            display: flex;
            justify-content: space-around;
            margin: 20px;
        }

        .card {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 30%;
            cursor: pointer;
            transition: transform 0.2s ease-in-out;
        }

        .card:hover {
            transform: scale(1.05);
        }

        .card h2 {
            color: #333;
        }

{% endblock %}


{% block body %}
    <div class="pricing-cards">
        <div class="card" onclick="navigateTo('/pricing/standard_plan')">
            <h2>Standard Plan</h2>
            <p>Consumption Price: 30 Cent/kWh</p>
            <p>Renewable Energy: 30%</p>
        </div>

        <div class="card" onclick="navigateTo('/pricing/premium_plan')">
            <h2>Premium Plan</h2>
            <p>Consumption Price: 31 Cent/kWh</p>
            <p>Renewable Energy: 50%</p>
        </div>

        <div class="card" onclick="navigateTo('/pricing/green_plan')">
            <h2>Green Plan</h2>
            <p>Consumption Price: 28 Cent/kWh</p>
            <p>Renewable Energy: 100%</p>
        </div>
    </div>

        <script>
        function navigateTo(url) {
            window.location.href = url;
        }
    </script>
{% endblock %}

