	/*
  	Flaticon icon font: Flaticon
  	Creation date: 01/04/2018 09:12
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
}

.flaticon-hosting-1:before { content: "\f100"; }
.flaticon-server-2:before { content: "\f101"; }
.flaticon-server-client-exchange:before { content: "\f102"; }
.flaticon-e-commerce-24-hours-available-service:before { content: "\f103"; }
.flaticon-teamwork:before { content: "\f104"; }
.flaticon-voip-gateway:before { content: "\f105"; }
.flaticon-cloud-computing:before { content: "\f106"; }
.flaticon-settings:before { content: "\f107"; }
.flaticon-firewall:before { content: "\f108"; }
.flaticon-folder-password:before { content: "\f109"; }
.flaticon-live-chat:before { content: "\f10a"; }
.flaticon-customer-support:before { content: "\f10b"; }
.flaticon-group:before { content: "\f10c"; }
.flaticon-world-wide-web:before { content: "\f10d"; }
.flaticon-ssd-card:before { content: "\f10e"; }
.flaticon-database-4:before { content: "\f10f"; }
.flaticon-backup-settings:before { content: "\f110"; }
.flaticon-business-cards-database:before { content: "\f111"; }
.flaticon-data-network:before { content: "\f112"; }
.flaticon-database-3:before { content: "\f113"; }
.flaticon-hosting:before { content: "\f114"; }
.flaticon-mobileme-logo-of-black-cloud:before { content: "\f115"; }
.flaticon-database-2:before { content: "\f116"; }
.flaticon-database-1:before { content: "\f117"; }
.flaticon-server-1:before { content: "\f118"; }
.flaticon-server:before { content: "\f119"; }
.flaticon-database:before { content: "\f11a"; }