<!-- {% block title %}Billing Overview{% endblock %}

{% block body %}

<h1>Billing Overview</h1>
<table border="1">
    <tr>
        <th>Contract Number</th>
        <th>Object</th>
        <th>Month</th>
        <th>KWH</th>
        <th>Billing Amount</th>
        <th>Billing Status</th>
    </tr>
    {% for contract in contracts %}
    <tr>
        <td>{{ contract.contract_number }}</td>
        <td>{{ contract.object_name }}</td>
        <td>{{ contract.month }}</td>
        <td>{{ contract.kwh }}</td>
        <td>{{ contract.billing_amount }}</td>
        <td>{{ contract.billing_status }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

 -->
