<!-- {% extends "change_data_overview.html" %}

{% block title %}Change your data - Overview{% endblock %}
<!-- Display links to available options -->

{% block body %}
    <h2>Choose an option:</h2>
    <ul>
        <li><a href="{% url 'change_tariff' %}">Change Tariff</a></li>
        <li><a href="{% url 'change_personal_data' %}">Change Personal Data</a></li>
        <li><a href="{% url 'change_billing_info' %}">Change Billing Information</a></li>
        <li><a href="{% url 'report_issue' %}">Report Issue</a></li>
    </ul>

    <hr>

    <form method="post" action="">
        {% csrf_token %}
        {% for contract in contracts %}
            <label>{{ contract.name }}</label>
            <input type="text" name="contract_{{ contract.id }}_value" value="{{ contract.value }}">
            <br>
        {% endfor %}

        <label>Password:</label>
        <input type="password" name="password">
        <br>

        <input type="submit" value="Submit">
    </form>
{% endblock %} -->