<!-- {%  extends "base.html" %}

{% block custom_css %}
body {
    font-family: Arial, sans-serif;
}
form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}
input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
{% endblock %}

{% block titel %}
Register
{% endblock %}


{% block body %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign up</button>
</form>
{% endblock %} -->
