
<form id="loginForm" method="POST" action="http://localhost:8000/api/v1/auth/">
    {% csrf_token %}
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br>
    <input type="submit" value="Submit">
</form>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#loginForm').on('submit', function(event){
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: JSON.stringify({
                    username: $('#username').val(),
                    password: $('#password').val()
                }),
                contentType: 'application/json',
                dataType: 'json'
            });
        });
    });
</script>