<form id="registerForm" method="POST" action="http://localhost:8000/api/v1/register/">
    {% csrf_token %}
    <label for="first_name">Vorname:</label><br>
    <input type="text" id="first_name" name="first_name"><br>
    <label for="last_name">Nachname:</label><br>
    <input type="text" id="last_name" name="last_name"><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br>
    <label for="password">Passwort:</label><br>
    <input type="password" id="password" name="password"><br>
    <input type="submit" value="Submit">
</form>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#registerForm').on('submit', function(event){
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: JSON.stringify({
                    first_name: $('#first_name').val(),
                    last_name: $('#last_name').val(),
                    email: $('#email').val(),
                    password: $('#password').val()
                }),
                contentType: 'application/json',
                dataType: 'json'
            });
        });
    });
</script>